.games-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.game {
  margin-bottom: 1rem;
}

.wrapperCountdown {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}